<!-- <p>footer works!</p> -->
<footer>
    <div class="footer-content">
        <div>
            <img class="footer-logo" src="./assets/img/sakura_ramen_logo_and_text.png" alt="">
        </div>
        <div class="footer-img-box">
            <img class="footer-img" src="./assets/img/tripadvisor_logo.png" alt="">
            <img class="footer-img" src="./assets/img/facebook_logo.png" alt="">
            <img class="footer-img" src="./assets/img/instagram_logo.png" alt="">
        </div>
    </div>
</footer>