<!-- <p>our-menu works!</p> -->
<div class="our-menu-section">
    <h2>OUR MENU</h2>
    <div class="order-sample">
        <div class="ramen r1">
            <img src="./assets/img/R1.png" alt="">
            <div class="order-table">
                <h3>Tonkasu Ramen</h3>
                <table>
                    <tr>
                        <td class="description">Chicken</td>
                        <td class="price">11,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Beef</td>
                        <td class="price">12,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Shrimp</td>
                        <td class="price">13,95 €</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="ramen r2">
            <img src="./assets/img/R2.png" alt="">
            <div class="order-table">
                <h3>Spicy Miso Ramen</h3>
                <table>
                    <tr>
                        <td class="description">Chicken</td>
                        <td class="price">11,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Beef</td>
                        <td class="price">12,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Shrimp</td>
                        <td class="price">13,95 €</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="ramen r1">
            <img src="./assets/img/R3.png" alt="">
            <div class="order-table">
                <h3>Shio Ramen</h3>
                <table>
                    <tr>
                        <td class="description">Chicken</td>
                        <td class="price">11,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Beef</td>
                        <td class="price">12,95 €</td>
                    </tr>
                    <tr>
                        <td class="description">Shrimp</td>
                        <td class="price">13,95 €</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>