nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        // width: 450px;
        display: flex;
        align-items: center;
        gap: 32px;
        >a {
            cursor: pointer;
            &:hover {
                color: rgb(174, 4, 4);
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.phone-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 8px;
    background-color: rgb(128, 4, 4);
    cursor: pointer;
    >img {
        width: 20px;
        height: 20px;
    }
    &:hover >a {
        color: rgb(225, 91, 124);
        // text-decoration: underline;
    }
}