nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        // width: 450px;
        display: flex;
        align-items: center;
        gap: 32px;
        >a {
            &:hover {
                color: rgb(225, 91, 124);
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.phone-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    
    >img {
        width: 20px;
        height: 20px;
    }
    >a {
        &:hover {
            color: rgb(225, 91, 124);
        }
    }
}